<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.loginsql">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LoginSql"
        tools:targetApi="31">

        <!-- LoginActivity dengan intent filter, harus diberi android:exported -->
        <activity android:name=".LoginActivity"
            android:exported="true"> <!-- Menambahkan android:exported -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RegisterActivity, jika ingin bisa diakses dari aplikasi lain -->
        <activity android:name=".RegisterActivity"
            android:exported="true" /> <!-- Menambahkan android:exported -->

        <!-- ForgotPasswordActivity, jika ingin bisa diakses dari aplikasi lain -->
        <activity android:name=".ForgotPasswordActivity"
            android:exported="true" /> <!-- Menambahkan android:exported -->

    </application>

</manifest>
